div {
    background-color: aqua;
}
p {
    background-color: DodgerBlue;
}
.parrafo1{
    color: red;
}

#contenedor-principal{
    background-color: blue;
}
div{
    background-color: red;
}
.border{
    border: 5px solid black;
}